/**********************************************************************************************

1.  Base
2.  Mobile
3.  720px+
4.  1024px+
5.  1200px+
6.  Divers

**********************************************************************************************/


/*********************************************************************************************

1.  Base

*********************************************************************************************/


*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='gr-'] {
    float: left;
    padding: 0.6rem;
    width:100%;
}

.clear-gr{
    clear:both;
    float:inherit;
}
.container {
    margin:0%;
    width: 100%;
}
.container:after, .container:before {
    display: table;
    clear:both;
    content: " ";
}
.nest {
    margin:0 -0.6rem;
    padding:0;
    width:auto;
}

/*
Note:
Si vous modifiez le parrametrage de padding pour [class*='gr-'], il faut Ã©galement modifier le parametrage de .nest, afin de ne pas avoir de dÃ©calage
*/

.section, .row {
	width:100%;
	margin:0;
	padding:0;
}
/********************************************************************************************
  x<970px
*/
@media only screen and (max-width: 970px){
    .gr-c-12{
        width: 100% !important;
        padding-left: 1.6em !important;
        padding-right: 1.6em !important;
    }
}
/*********************************************************************************************

2.  Mobile

*********************************************************************************************/


.gr-m-12 {
    width: 100%;
}
.gr-m-11 {
    width: 91.666663%;
}
.gr-m-10 {
    width: 83.33%;
}
.gr-m-9 {
    width: 74.999997%;
}
.gr-m-8 {
    width: 66.66666664%;
}
.gr-m-7 {
    width: 58.333%;
}
.gr-m-6 {
    width: 50%;
}
.gr-m-5 {
    width: 41.6665%;
}
.gr-m-4 {
    width: 33.33%;
}
.gr-m-3 {
    width: 24.99%;
}
.gr-m-2 {
    width: 16.66666%;
}
.gr-m-1 {
    width: 8.33%;
}

/*********************************************************************************************

3. 720px+

*********************************************************************************************/

@media (min-width: 720px) {
    .gr-12 {
        width: 100%;
    }
    .gr-11 {
        width: 91.666663%;
    }
    .gr-10 {
        width: 83.33%;
    }
    .gr-9 {
        width: 74.999997%;
    }
    .gr-8 {
        width: 66.66666664%;
    }
    .gr-7 {
        width: 58.333%;
    }
    .gr-6 {
        width: 50%;
    }
    .gr-5 {
        width: 41.6665%;
    }
    .gr-4 {
        width: 33.33%;
    }
    .gr-3 {
        width: 24.99%;
    }
    .gr-2 {
        width: 16.66666%;
    }
    .gr-1 {
        width: 8.33%;
    }

    .gr-t-12 {
        width: 100%;
    }
    .gr-t-11 {
        width: 91.666663%;
    }
    .gr-t-10 {
        width: 83.33%;
    }
    .gr-t-9 {
        width: 74.999997%;
    }
    .gr-t-8 {
        width: 66.66666664%;
    }
    .gr-t-7 {
        width: 58.333%;
    }
    .gr-t-6 {
        width: 50%;
    }
    .gr-t-5 {
        width: 41.6665%;
    }
    .gr-t-4 {
        width: 33.33%;
    }
    .gr-t-3 {
        width: 24.99%;
    }
    .gr-t-2 {
        width: 16.66666%;
    }
    .gr-t-1 {
        width: 8.33%;
    }
}

/*********************************************************************************************

4.  1024px+

*********************************************************************************************/

@media only screen and (min-width: 1024px) {
    .gr-tl-12 {
        width: 100%;
    }
    .gr-tl-11 {
        width: 91.666663%;
    }
    .gr-tl-10 {
        width: 83.33%;
    }
    .gr-tl-9 {
        width: 74.999997%;
    }
    .gr-tl-8 {
        width: 66.66666664%;
    }
    .gr-tl-7 {
        width: 58.333%;
    }
    .gr-tl-6 {
        width: 50%;
    }
    .gr-tl-5 {
        width: 41.6665%;
    }
    .gr-tl-4 {
        width: 33.33%;
    }
    .gr-tl-3 {
        width: 24.99%;
    }
    .gr-tl-2 {
        width: 16.66666%;
    }
    .gr-tl-1 {
        width: 8.33%;
    }
}


/*********************************************************************************************

5.  1200px+

*********************************************************************************************/

@media only screen and (min-width: 1200px) {
    .container {
        max-width:1180px;
        margin:0 auto;
    }
    .container-fluid {
        max-width:90%;
        margin:0 5%;
    }
    .gr-d-12 {
        width: 100%;
    }
    .gr-d-11 {
        width: 91.666663%;
    }
    .gr-d-10 {
        width: 83.33%;
    }
    .gr-d-9 {
        width: 74.999997%;
    }
    .gr-d-8 {
        width: 66.66666664%;
    }
    .gr-d-7 {
        width: 58.333%;
    }
    .gr-d-6 {
        width: 50%;
    }
    .gr-d-5 {
        width: 41.6665%;
    }
    .gr-d-4 {
        width: 33.33%;
    }
    .gr-d-3 {
        width: 24.99%;
    }
    .gr-d-2 {
        width: 16.66666%;
    }
    .gr-d-1 {
        width: 8.33%;
    }
}

/*********************************************************************************************

6.  Helper classes

*********************************************************************************************/
.padding-collapse {
	padding-left:0;
 	padding-right:0;
}

img.scale, img.responsive {
    max-width: 100%;
    height: auto;
}
