@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
body{
    font-family: 'Lato',sans-serif !important;
    font-size: 16px;
    font-weight: 100;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
    width: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*pub top & footer*/
.bandeau{
    display: flex;
    clear: both;
    width: 100%;
}
.bloc-pub {
    width: 728px;
    height: 90px;
    margin: 5px auto;
}
/*end*/
/*head*/
.section-head{
    clear: both;
    padding-top: 0.6rem;
}
.section-head.js-fixed{
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 16px rgba(0, 0, 0, .05);
}
.section-head .container-head{
    padding: 0 1.2rem;
    position: relative;
}
/*logo*/
.logo{
    display: inline-block;
}
.logo a{
    text-transform: uppercase;
    font-size: 2.3125rem
}
.no-bold{
    font-weight: 300;
    margin-left: 0.2rem;
}
/*nav bar*/
.nav-bar{
    position: absolute;
    right: 0;
    padding-right: 1.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.nav-bar .menu-item{
    display: inline-block;
    margin-left: 1.5rem;
    vertical-align: middle;
}
.nav-bar .menu-item:nth-child(1){
    display: none;
}
.icon{
    display: inline-block;
    height: auto;
    width: 2rem;
    cursor: pointer;
}
/*end*/
/*formulaire de recherche*/
.section-moteur-recherche{
    font-size: 1.3125rem;
    text-transform: uppercase;
    padding-top: 5rem;
    font-weight: 300;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}
.container-bloc-recherche{
    padding: 2rem;
    background-color: transparent;
}

.opaciter{
    opacity: 0.2 !important;
}

.input-bloc .input-editable{
    display: block;
    outline: none;
    padding: 0.6rem 0;
    /*margin-right: 4rem;*/
    overflow: hidden;
    height: 2.8rem;
    flex-grow: 2;
}
[contenteditable="true"]:empty::before {
    content: attr(placeholder);
    display: block;
    color: rgba(185, 185, 185, 1);
}
#item-uploader [contenteditable="true"]:empty::before {
    color:  rgba(0, 189, 245, 1);
}
.form-recherche{
    display: flex;
    flex-wrap: wrap;
}
.form-recherche .input-bloc{
   width: 100%;
    display: flex;
    justify-content: space-around;
}
/*.form-recherche .options-bloc{*/
    /*flex: 0 0 55%;*/
    /*max-width: 55%;*/
/*}*/
.input-bloc{
    position: relative;
}
.icon-tag-bloc{
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    margin-left: 2rem;
}
.form-recherche .icon-tags .st0{
    stroke-width: 2;
}
.format,
.resolution{
    padding: 0.6rem 1rem;
    width: 13.5rem;
    position: relative;
    z-index: 1;
}
.mobile-section-search-content .btn-search{
    display: block;
    width: 100%;
    padding: 1rem 0 0 0;
    text-align: center;
}
button{
    cursor: pointer;
}
.btn-search{
    padding-left: 2rem;
}
.btn-search,
.hd-bloc .select{
    display: inline-block;
}
.hd-bloc{
    position: relative;
    padding: 0.6rem 0;
    cursor: pointer;
}
.hd-bloc .select{
    width: 2.3rem;
    height: 0.9rem;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border-radius: 6px;
    cursor: pointer;
}
.hd-bloc .select .on-off-btn-hd{
    left: 3px;
    transition: left 5s;
}
.hd-bloc .select .on-off-btn{
    transition: right 5s;
    display: block;
    height: .6rem;
    width: .6rem;
    position: absolute;
    top: 50%;
    right: 3px;
    border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.hd-bloc .select input{
    visibility: hidden;
    position: absolute;
    right: 3px;
    z-index: 2;
    cursor: pointer;
}
.hd-bloc .select-hd input{
    left: 3px;
}
.form-recherche .btn-search .btn-recherche{
    background-color: transparent;
    border: none;
    outline: none;
}
.form-recherche .btn-search .btn-recherche svg{
    width: 3rem;
}
/*.options-bloc ul{*/
    /*text-align: center;*/

/*}*/
/*.options-bloc .ul-parent{*/
    /*display: flex;*/
    /*justify-content: space-between;*/
/*}*/
/*.options-bloc li{*/
    /*display: inline-block;*/
    /*padding: 0 0.6rem;*/
    /*vertical-align: middle;*/
/*}*/
/*.options-bloc li:nth-last-child(1){*/
    /*padding-right: 0;*/
    /*margin-right: -.35rem;*/
/*}*/
/*.options-bloc{*/
    /*padding-left: 1rem;*/
    /*z-index: 51;*/
/*}*/
.icon-down{
    display: inline-block;
    width: 1rem;
    height: auto;
    float: right;
}
.icon-down svg{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.current-element{
    display: block;
    text-align: left;
    cursor: pointer;
}
.format-ul, .resolution-ul{
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    left: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 0.6rem;
    margin-top: 0.6rem;
    z-index: 0;
}
/*class qui s'ajoute pour tourner l'icone de la liste*/
.rotate-icone{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    animation: transform 1s;
}
.icon-down{
    animation-name: return;
    animation-duration: 500ms;
    transform: rotate(0deg);
}
@keyframes return {
    from{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
.teste-ro{
    animation-name: rotate;
    animation-duration: 500ms;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
@keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
/*class qui met opacity sur le default texte de la liste*/
.opacity{
    opacity: .3;
}
.format .format-element, .resolution .format-element{
    display: block;
    text-align: left;
    border-bottom: solid 1px rgba(204, 204, 204, .4);
    padding: 0.6rem 0 !important;
    cursor: pointer;
    width: 100%;
}
.format .format-element:hover, .resolution .format-element:hover{
    color:  rgba(0, 189, 245, 1);
}
.format-element:nth-last-child(1){
    border-bottom: none !important;
}
.lettre {
    padding: 0.3rem;
    float: left;
    /*display: inline-block;*/
}
.lettre-span {
    width: 2rem;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0;
}
.container-bloc-recherche{
    position: relative;
}
.alphabet-bloc{
    display: table;
    margin: auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 2rem rgba(0,0,0,0.05);
    width: 100%;
    text-align: center;
}
#zone-tags .alphabet-bloc{
    padding: 2rem 0;
}
.section-moteur-recherche .alphabet-bloc{
    box-shadow: none !important;
}
.alphabet-bloc-content{
    display: inline-block;
    width: 100%;
    margin-right: -0.6rem;
}
.content-tags{
    float: left;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    padding: 2rem;
}
.current-words {
    display: block;
    padding: 2rem 0.6rem;
    font-weight: 600;
    font-size: 1.75rem;
    clear: both;
}
.mots-content{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.6rem;
}
.mots{
    flex: 0 0 25%;
    max-width: 25%;
    padding-bottom: 1.5rem;
}
.mots .tag-icon{
    display: inline-block;
    width: 2rem;
    height: auto;
    vertical-align: -.55rem;
    margin-right: 0.3rem;
}
.tags-list-li .tag-icon{
    display: inline-block;
    width: 2rem;
    vertical-align: middle;
}
#item-connecter .liste-autocomplete{
    top: auto;
    bottom: 3rem;
}
.liste-autocomplete{
    display: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    z-index: 55;
    padding: 0.6rem;
    position: absolute;
    left: 0;
    max-width: 100%;
    top: calc(100% - 0.5rem);
    width: 20rem;
}
.input-editable .tag-icon{
    display: inline-block;
    width: 2rem;
    vertical-align: middle;
    margin-right: 0.3rem;
}
.tags-list-li {
    padding: 0.6rem;
    cursor: pointer;
    border-bottom:solid 1px rgba(185, 185, 185, .4);
}
.tags-list-li:nth-last-child(1){
    border-bottom: none;
}
/*end*/
/*section categorie*/
.section-top-categories{
    padding-top: 5rem;
    padding-bottom: 7rem;
}
.section-title{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
.row-items .item{
    /*position: relative;*/
    /*height: 100%;*/
}
.row-items .item .img-category,
.row-items .item  .img-infos,
.row-items .item .img-category img{
    display: block;
}
.img-category{
    /*height: 100%;*/
}
.img-category img{
    /*object-fit: cover;*/
    /*height: 100%;*/
}
.row-items .item .img-category{
    padding: 1.5rem 1.5rem 0 1.5rem;
    height: 200px;
}
.row-items .item .img-category img{
    object-fit: cover;
    height: 100%;
}
.row-items .item  .img-infos{
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
}
.row-items .item  .img-infos .name-category{
    text-transform: uppercase;
    color: rgba(128, 128, 128, 1);
    font-weight: 300;
}
.row-items .item  .img-infos .num-item{
    float: right;
}
.section-link{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem;
    padding-top: 3rem;
}
.section-link .section-link-icon{
    display: inline-block;
    width: 1.3rem;
    vertical-align: middle;
}
/*end*/
/*pub*/
.pub-content{
    text-align: center;
}
.bandeau-autre{
    display: inline-block;
    float: none;
    width: auto;
}
.bandeau-autre .bloc-pub{
    margin: 3rem;
}
/*end*/
/*recherche populaire*/
.section-recherche-populaire{
    padding-top: 7rem;
    padding-bottom: 5rem;
}
.section-recherche-populaire .tag-name{
    text-align: justify;
}
.section-recherche-populaire .tag-name a{
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 600;
}
.opacity{
    opacity: .5;
}
/*end*/
/*pub carre*/
.bandeau-carre{
    justify-content: center;
}
.bandeau-container{
    width: auto;
    padding: 0.6rem;
}
.pub-carre-content{
    padding: 2rem;
}
.pub-carre{
    width: 336px;
    height: 280px;
    margin: auto;
}
/*end*/
/*wallpapers populaire*/
.section.section-wallpaper-populaire{
    padding-top: 7rem;
}
.item-bloc{
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 2rem rgba(0,0,0,0.05)
}
.item-bloc .img-bloc{
    padding: 1.5rem 1.5rem 0 1.5rem;
    height: 200px;
}
.item-bloc .img-bloc img{
    display: block;
    height: 100%;
    object-fit: cover;
}
.bloc-infos{
    padding: 1rem 1.5rem 0.3rem;
    font-weight: 300;
}
.bloc-infos .flex-content{
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.bloc-infos .flex-content .name-item{
    color: rgba(128, 128, 128, 1);
}
.bloc-infos .num-item .icon-download{
    width: 1rem;
    height: 1rem;
}
.bloc-infos .tag-bloc{
    padding-top: 0.3rem;
}
.bloc-infos .tag-bloc .icon-tags{
    vertical-align: middle;
    margin-right: 0.3rem;
}
.item-bloc .bloc-rating-hd{
    position: absolute;
    top: 1.65rem;
    left: 1.65rem;
    display: flex;
    align-items: center;
}
.item-bloc .bloc-rating-hd .content:nth-child(1){
    margin-right: .3rem;
}
.item-bloc .bloc-rating-hd .content:nth-child(2){
    padding: 0 !important;
    height: 1.8rem;
}
.item-bloc .bloc-rating-hd .content{
    display: inline-block;
    padding: 0.2rem 0.3rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.125rem;
}
.item-bloc .bloc-rating-hd .icon-rating{
    display: inline-block;
    width: 0.8rem;
}
/*end*/
/*section partage social*/
.section-partager{
    padding-top: 7rem;
    padding-bottom: 5rem;
    text-align: center;
}
.bloc-icon-social{
    text-align: center;
    padding: 1rem 0 0 0;
}
.bloc-icon-social .icon-social{
    display: inline-block;
    padding: 0.6rem;
}
.bloc-icon-social .icon-social a{
    width: 2.3rem;
    /*height: 1rem;*/
    display: block;
}
.section-partager .row-text-icon{
    font-size: 1.3125rem;
    font-weight: 300;
    line-height: 2;
}
/*end*/
/*section devenir membre*/
.section-devenir-membre{
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.section-devenir-membre .row-text{
    line-height: 2;
    font-size: 1.3125rem;
    font-weight: 300;
}
.bold{
    font-weight: 600;
}
.italic{
    font-style: italic;
}
/*end*/
/*footer*/
.footer-section .container{
    text-align: center;
}
.footer-section .flex-content{
    padding: 2rem 0;
    display: inline-block;
    width: auto;
    text-align: left;
}
.footer-section .flex-item{
    width: auto;
    font-size: 1.3rem;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 2rem 6rem;
}
.footer-section .flex-item .element-li{
    padding: 0.6rem 0;
}
.footer-section .flex-item .element-li a{
    font-weight: 300;
}
.footer-section .flex-item .element-li .icon-row{
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: sub;
    margin-left: -0.6rem;
}
.footer-section .zone-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
.uppercase{
    text-transform: uppercase;
}
.footer-bottom{
    padding: 2rem 0;
}
.copyright{
    padding-top: 5rem;
}
.footer-bottom .lengend,
.copyright{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}
.copyright .pbs,
.copyright .webversalis{
    font-weight: 600;
}
.copyright .pbs{
    text-transform: uppercase;
}
/*end*/
/*extras css*/
.add-padding{
    padding: 0 0.6rem;
}
/*end*/
/*modal nav element*/
.container-modal{
   position: absolute;
    top: 5rem;
}
.nav-link-element{
    padding: 0.6rem;
}
.nav-link-container {
    padding: 3.5rem 6rem;
    justify-content: space-around;
}
.nav-link-element a {
    font-size: 1.3125rem;
    text-transform: uppercase;
    font-weight: 300;
}
.nav-link-element .icon{
    vertical-align: middle;
    width: 2rem;
    margin-right: 0.3rem;
}
/*identification*/
.indentification-content{
    padding: 3rem 3rem 0;
}
.inscription-content{
    padding: 3rem;
    text-transform: lowercase;
}
.form-content{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.indentification-content .form-content input{
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 300;
    width: 90%;
    font-family: inherit;
    padding: 0.6rem;
    text-align: center;
}
.bloc-mail,
.bloc-password{
    width: 90%;
}
.indentification-content .form-content .btn-submit{
    max-width: 10%;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 6.5rem;
    display: block;
}
.social-bloc{
    text-align: center;
    padding-top: 2rem;
}
.section-modal .social-bloc{
    padding-top: 0;
}
.social-authentification{
    padding: 3rem 0;
    text-align: center;
}
.social-authentification .lengend{
    text-transform: lowercase;
}
.social-bloc .form-social-icon{

    display: inline-block;
    width: 2.75rem;
    margin-right: .3rem !important;
    vertical-align: middle;
}
.inscription-membre .social-bloc .form-social-icon{
    margin-right: 0;
}
.nav-bar-ul .icon-tags{
    width: 3rem;
}
/*end*/
/*modal item*/
#module-puzzle,
.section-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    display: none;
    z-index: 55;
    overflow-x: hidden;
}
.modal-item .container{
    max-width: 70%;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal-item .content .image-item{
    padding-bottom: 0;
    position: relative;
}
.modal-item .image-item,
.item-image-bottom{
    padding: 3rem 3rem 1.5rem;
}
.item-image-bottom{
    padding-top: .5rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.modal-item .image-item img{
    display: block;
    height: 100%;
    object-fit: cover;
}
.center-element{
    /*margin-top: 25%;*/
}
#item-uploader.modal-item .image-item img{
    /*max-height: 400px;*/
}
.item-image-bottom .nom-image{
    /*font-size: 2rem;*/
    text-transform: uppercase;
    /*font-weight: 200;*/
    padding-top: 0;
    flex-grow: 2;
}
.item-image-bottom .image-item-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}
.note-image{
    /*margin-right: 3rem;*/
}
.num-download{
    font-size: 1.3rem;
    font-weight: 300;
}
.item-image-bottom .note-download{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 0;
    padding-right: 2rem;
}
.image-item-tags .icon-tag{
    vertical-align: middle;
}
.image-item-tags a{
    font-size: 1.2rem;
    font-weight: 300;
}
.item-social-format-resolution {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 1rem -1.5rem 0 0;
}
.item-social-format-resolution .social-bloc .form-social-icon{
    width: 2.5rem;
    margin: 0 1rem 0 0;
}
.item-social-format-resolution .format-resolution li{
    display: inline-block;
}
.item-social-format-resolution .format-resolution ul > li{
    padding: 0 0.6rem;
}
.item-social-format-resolution .format-resolution {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3125rem;
    padding-top: 0.6rem;
}
.icon-note{
    display: inline-block;
    width: 1.3rem;
}
.icon-download{
    display: inline-block;
    width: 1.3rem;
}
.image-item-tags .icon-tag{
    display: inline-block;
    width: 2rem;
    margin-right: .35rem;
}
.icon-load{
    display: inline-block;
    width: 2.5rem;
    margin-left: 1rem;
}
/*end*/
/*page inscription*/
.user-infos {
    display: flex;
    /*flex-wrap: wrap;*/
    padding: 3rem;
    border-bottom: solid 1px rgba(204, 204, 204, .4);
}
.user-image-content{
    width: 10rem;
    height: auto;
    padding: 0.6rem;
    flex-grow: 1;
}
.user-other-infos{
    flex-grow: 2;
    padding: 0 1.5rem;
}
.user-other-infos .name{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}
.user-other-infos .name .input-bloc {
    flex: 0 0 50%;
    padding: 0 0.6rem 0 0;
}
.user-other-infos .name .input-bloc input{
    width: 93%;

}
.user-other-infos .name .input-bloc input,
.email-social input{
    font-weight: 100;
    font-size: 1.5rem;
    padding-bottom: 0.6rem;
    border: none;
    outline: none;
    font-family: inherit;
}
.user-other-infos .birthday .date{
    outline: none;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 100;
    color:  rgba(0, 189, 245, 1);
    border: none;

}
.user-other-infos .birthday .legend-born{
    font-size: 1.35rem;
    margin-right: 1rem;
}
.email-social input{
    width: 100%;
}
.birthday,.user-other-infos .email-social{
    padding-top: 1.5rem;
}
.email-social .social-bloc-icon{
    display: inline-block;
}
.section-inscription .email-social .social-bloc-icon{
    opacity: 0.5;
}
.email-social .social-text{
    font-size: 1.35rem;
}
.user-other-infos .email-social{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user-other-infos .email-social .email{
    flex: 0 0 40%;
}
.user-other-infos .email-social .social-bloc{
    flex: 0 0 60%;
    padding: 0;
}
.preference-telechargement,
.inscription-content .wallpapers,
.inscription-content .telechargement{
    padding: 0 3rem;
}
.inscription-content .telechargement{
    border-bottom: none;
}
.preference-telechargement .format-resolution{
    padding: 1rem 0 2rem 0;
}
.preference-telechargement .legend,
.inscription-content .wallpapers .legend,
.inscription-content .telechargement .legend{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem 0;
    cursor: pointer;
}
.inscription-content .section-link-icon{
    width: 2.3rem;
}
.ul-liste-choix{
    text-align: center;
}
.liste-choix{
    display: inline-block;
    padding: 0.6rem;
}
.liste-choix, .liste-choix li{
    font-size: 1.3125rem;
    text-transform: uppercase;
    font-weight: 300;
}
.liste-choix .select{
    vertical-align: baseline;
}
.liste-choix .hd-legend{
    margin-right: 0.3rem;
}
.inscription-membre .icon-down{
    width: 1.5rem;
}
.inscription-membre.inscription-content{
    padding: 0;
}
/*end*/
/*page membre*/
.membre-zone .membre-infos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
}
.membre-zone .membre-photos{
    width: 8rem;
    height: auto;
}
.membre-zone .membre-informations{
    flex-grow: 2;
    padding: 0 1.5rem;
}
.membre-zone .update-icon{
    display: inline-block;
    width: 2.75rem;
    height: auto;
    float: right;
}
.membre-zone .membre-age{
    padding-top: 0.6rem;
}
.membre-zone .icon-type-connexion,
.membre-zone .icon-other{
    display: inline-block;
    width: 2.5rem;
    height: auto;
    vertical-align: middle;
    margin-right: 0.3rem;
}
.membre-zone .nom{
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
}
.membre-zone .membre-age,
.text-type-connexion{
    font-size: 1.3rem;
    font-weight: 300;
}
.membre-zone .type-connexion{
    padding: 1.5rem 0 0 0;
}
.inscription-membre .valider{
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}
/*end*/
/*page modification*/
.user-image .modification-membre{
    background-color: transparent;
}
/*end*/
/*upload*/
.upload-item .add-item-icon{
    display: inline-block;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.upload-item .image-item{
    padding: 0;
}
.upload-item .image-item{
    position: relative;
    padding: 3rem 3rem 0;
}
.upload-item .image-item .update-item{
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    outline: none;
    cursor: pointer;
}
.upload-item .image-item input[type="file"]{
    visibility: hidden;
}
.section-modal.upload-item .item-image-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 3rem 0;
    align-items: center;
}
.section-modal.upload-item .item-image-bottom .input-bloc{
    flex: 0 0 50%;
}
.section-modal.upload-item .input-titre{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: inherit;
    border: none;
    width: 100%;
    outline: none;
    font-weight: 300;
}
.section-modal.upload-item  .input-add-tag{
    padding: 0 3rem;
}
.section-modal.upload-item .tag-add-item{
    display: inline-block;
    width: 3rem;
    height:auto;
}
.section-modal.upload-item .input-editable{
    display: inline-block;
    font-size: 1.3125rem;
    font-weight: 300;
    padding: 0.6rem;
    width: 40%;
}
#wallpaper{
    padding-bottom: 1rem;
    display: none;
}
.btn-download-bloc{
    text-align: center;
    padding: 3rem;
}
.btn-download-bloc .btn-download{
    display: inline-block;
    width: 3rem;
    background-color: transparent;
    border: none;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    outline: none;
}
.section-modal.upload-item .liste-autocomplete{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
}
.image-item-tags{
    flex: 0 0 100%;
}
.add-tags.icon-tag{
    width: 3rem;
    display: inline-block;
    cursor: pointer;
}

/*end*/
/*modal item membre connecter*/
.connecter .image-item-tags .add-tags.icon-tag{
    width: 3rem;
    margin-left: 1rem;
    cursor: pointer;
}
.connecter-hd-bloc{
    color:  rgba(0, 189, 245, 1);
    padding-right: 3rem;
    vertical-align: baseline;
    font-size: 1.3125rem;
    text-transform: uppercase;
    font-weight: 600;
}
.connecter .icon-note{
    cursor: pointer;
}
.js-note-bloc{
    display: inline-block;
}
.js-note{
    display: inline-block;
    width: 1.3rem;
    height: auto;
    cursor: pointer;
}

.connecter .input-bloc{
    min-width: 25rem;
    position: absolute;
    padding: 0 3rem 0 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    display: none;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 1);
}
.connecter .input-bloc.inline-force{
    display: inline-block !important;
}
.connecter .content-input-tags{
    position: relative;
}
.text-liste-autocomplete{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3125rem;
}
.connecter .icon-validate-tag{
    display: inline-block;
    width: 2rem;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
}
.connecter .input-editable{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
}
.connecter .social-bloc{
    padding-top: 0 !important;
}
.connecter .item-social-format-resolution{
    padding-top: 2rem;
}
/*end1*/
/*page tags*/
.section-tags,
.section-tags-item,
.section-all-categories,
.section-all-wallpapers,
.section-inscription{
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.ariane-navigation{
    /**/
}
.ariane-navigation .icon-tags{
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: -0.8rem;
}
.ariane-navigation .icon-row{
    display: inline-block;
    width: 1.5rem;
}
.ariane-navigation .icon-home
{
    width: 2rem;
    display: inline-block;
    vertical-align: middle;
}
.lettre-span,
.current-words,
.mots{
    text-transform: uppercase;
}
.mots-content .mots-link{
    font-weight: 300;
    font-size: 1.3125rem;
}

/*end*/
/*puzzle versal*/
.num-piece-on-puzzle{
    display: inline-flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
}
.on-icon-piece,
.icon-piece-num{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
    margin-left: 0.6rem;
}
.on-puzzle{
    cursor: pointer;
}
.on-puzzle:hover{
    color: rgba(0, 189, 245, 1) !important;
}
.num-piece,
.on-puzzle{
    background-color: rgba(255, 255, 255, 1);
    padding: 0.6rem 1rem;
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.num-piece{
    margin-left: 0;
}
.on-puzzle{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin-left: .5rem;
}
.num-piece-puzzle{
    font-weight: 600;
    color: rgba(0, 189, 245, 1);
    padding-right: 0.25rem;
}
.section-modal .social-bloc .form-social-icon {
    width: 2.25rem;
}
/*module de puzzle*/
.module-puzzle{
    height: calc(100vh - 2rem);
    background-color: lightgrey;
    margin: 1rem;
    background-image: url("../images/icones/pzl-1p.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10rem;
    position: relative;
}
.image-puzzle{
    width: 9rem;
    height: 9rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.image-puzzle img{
    height: 100%;
    object-fit: cover;
}
.timing{
    background: rgba(185, 185, 185, 1);
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    top: 1rem;
    border-radius: 3px;
}
.icon-time,
.icon-progress,
.icon-restart,
.icon-sound,
.icon-seeting,
.icon-close{
    display: inline-block;
    width: 1.5rem;
    vertical-align: middle;
}
.time, .text-progress{
    vertical-align: middle;
}
.temps,
.progress,
.restart,
.sound,
.seeting,
.close-puzzle{
    padding: 0 .6rem;
}
.close-puzzle{
    padding-right: 0;
}
.progress,
.seeting{
    border-left: solid 1px rgba(204, 204, 204, 1);
    border-right: solid 1px rgba(204, 204, 204, 1);
}
.puzzle-choix{
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: .3rem 0;
}
.icon-close{
    cursor: pointer;
}
.deja-joue,
.en-cours{
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
}
.tag-add-tag-zone{
    display: flex;
    align-items: center;
}
.add-tags-bloc{
    position: relative;
}
.connecter .image-item-tags .add-tags.icon-tag{
    margin: 0 !important;
}
/*end*/
/*end*/
#zone-tags,
.js-modale-nav{
    display: none;
    z-index: 49;
}
.hidden{
    overflow: hidden;
}
.content-pub-video{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 1);
}
.pub-video{
    width: 40rem;
    height: 30rem;
    margin: auto;
    background-color: rgba(211, 211, 211, 1);
}
.ad-wallpaper{
    width: 3rem;
    display: block;
    margin: auto;
    padding-bottom: 1rem;
}
.add-wallpaper-legend{
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    text-align: center;
}
.add-bloc-item{
    height: 100%;
}
.add-bloc-item .img-bloc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 1.5rem;
}
.btn-download-bloc .btn-download{
    cursor: pointer;
}
#item-modifier .btn-download-bloc .btn-download{
    transform: none;
}
.section-modal .format-ul, .section-modal .resolution-ul{
    bottom: 2.6rem;
}
.js-modale-nav {
    font-size: 1.3125rem;
    font-weight: 300;
}
#navigation-link,
#connexion-form{
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: calc(100% - 4rem);
    z-index: 500;
}
#page-membre .icon-profile{
    background-color:  rgba(0, 189, 245, 1);
    border-radius: 2px;
    padding: 0.2rem;
    height: 2.35rem;
    width: 2.35rem;
}
/*mobile navigation css*/
.section-menu-mobile .logo,
.section-menu-mobile .logo a{
    font-size: 1.3125rem;
}
.section-menu-mobile{
    /*padding: 0 0.6rem;*/
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);
}
.mobile-li{
    margin-left: 0.7rem;
}
.icon-nav-mobile{
    display: inline-block;
    width: 1.5rem;
    /*height: 2rem;*/
    cursor: pointer;
}
.section-menu-mobile .container-head,
.modible-ul-elem{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.section-menu-mobile .container-head{
    padding: 0.6rem;
}
.icon-nav-mobile .st0{
    stroke: rgba(185, 185, 185, 1);
}
#active .icon-nav-mobile .st0{
    stroke:  rgba(0, 189, 245, 1);
}
.mobile-menu-section{
    background: white;
    position: absolute;
    width: 100%;
    top: 9.5rem;
    border-top: solid 1px rgba(211, 211, 211, 0.3686274509803922);
}
.mobile-search-section{
    position: absolute;
    width: 100%;
    background: white;
    top: 9.5rem;
    padding: .6rem 2rem;
}
.mobile-menu-section  .nav-link-element{
    display: flex;
    align-items: center;
}
.mobile-menu-section .icon-tags{
    width: 2rem;
    height: 2rem;
}
.mobile-menu-section .icon-tags,
.mobile-menu-section .nav-link-element .icon{
    margin-right: .6rem;
    display: inline-block;
}
.mobile-menu-section .nav-link-element .icon
{
    width: 1.5rem;
    height: 1.5rem;
}
.mobile-menu-section .nav-link-element{
    padding: 1rem 0;
}
.mobile-menu-section .nav-link-element span{
    background-color: rgba(255, 255, 255, 1) !important;
}
.mobile-section-search-content .current-element-text{
    color: rgba(185, 185, 185, 1) !important;
}
.mobile-section-content{
    padding: 1.5rem 2rem;
}
.mobile-menu-section .nav-link-element a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}
.mobile-menu-section .nav-link-element .icon .st0,
.mobile-menu-section .icon-tags .st0{
    stroke:  rgba(0, 189, 245, 1);
}
.mobile-menu-section .icon-link-categorie .point,
.mobile-menu-section .icon-tags .point{
    fill:  rgba(0, 189, 245, 1);
}
/*search*/
.mobile-search-section{
    position: absolute;
    width: 100%;
    background: white;
    top: 9.5rem;
    padding: .6rem 2rem;
    border-top: solid 1px rgba(211, 211, 211, 0.3686274509803922);
}
.mobile-search-section .container{
    padding: 0 !important;
}
.mobile-search-section .section-moteur-recherche #input-editable,
.mobile-search-section [contenteditable="true"]:empty::before{
    font-size: 14.7263px;
    text-transform: uppercase;
    font-weight: 300;
}
.mobile-search-section .container-bloc-recherche{
    padding: 0;
}
.mobile-search-section .ul-parent >li{
    padding: 0 0 0.5rem 0 !important;
}
.mobile-search-section .input-bloc .input-editable{
    padding-left: .6rem;
    text-transform: uppercase;
}
#zone-tags-mobile{
    display: none;
    padding: 0 !important;
}
.mobile-search-section .alphabet-bloc{
    padding: 0 !important;
}
.mobile-search-section,
.mobile-menu-section{
    display: none;
}
/*end*/


/*override css*/
/* corrections typographiques  // doc source

    =====================================================
    */



h2, h3, h4, h5, h6,
.bold,
.copyright a
{ font-weight: 500; }


p, a
{ font-weight: 300; }

/* font-sizes */

.logo a,
.section-title,
.item-image-bottom .nom-image
{ font-size: 2rem; } /* 32px */


.current-words,
.membre-zone .nom,
.section-modal.upload-item .input-titre
{ font-size: 1.75rem; } /* 28px */


.section-moteur-recherche,
.row-items .item .img-infos,
.section-link,
.bloc-infos .flex-content,
.num-download,
.section-partager .row-text-icon,
.section-devenir-membre .row-text,
.footer-section .flex-item,
.footer-bottom .lengend,
.js-modale-nav,
.item-social-format-resolution .format-resolution,
.nav-link-element a,
.mots-content .mots-link,
.membre-zone .membre-age, .text-type-connexion,
.bloc-infos .flex-content,
.liste-choix, .liste-choix li,
.section-modal.upload-item .input-editable,
.section-modal.upload-item .liste-autocomplete,
.text-liste-autocomplete,
.connecter .input-editable,
.connecter-hd-bloc
{font-size: 1.25rem;} /* 20px */

.section-recherche-populaire .tag-name a,
.image-item-infos .num-download,
.indentification-content .form-content input,
.user-other-infos .birthday .date,
.user-other-infos .name .input-bloc input, .email-social input,
.lettre-span,
.preference-telechargement .legend, .inscription-content .wallpapers .legend,
.inscription-content .telechargement .legend,
.footer-section .zone-title
{ font-size: 1.5rem;} /* 24px */

.email-social .social-text,
.user-other-infos .birthday .legend-born
{ font-size: 1.3125rem; }

.image-item-tags a,
.item-bloc .bloc-rating-hd .content,
.add-wallpaper-legend,
.copyright
{ font-size: 1.125rem; } /* 18px */



@media only screen and (max-width: 459px) {
    .section-moteur-recherche #input-editable,
    [contenteditable="true"]:empty::before
    { font-size: 1.25rem !important; }
}



/* line-heights */


.section-title,
.js-modale-nav
{ line-height: 1.5; }


.section-recherche-populaire .tag-name a
{ line-height: 1.25; }

.copyright
{ line-height: 1.8; }


.section-partager .row-text-icon,
.section-devenir-membre .row-text
{ line-height: 1.75; }




/* font-weights */

.item-bloc .bloc-rating-hd .content,
.logo a,
.current-words,
.copyright .pbs,
.copyright .webversalis
{ font-weight: 600; }

.logo a .lettre-span
{font-weight: 600;}

.section-title,
.section-partager .row-text-icon,
.section-devenir-membre .row-text,
.footer-bottom .lengend,
.no-bold,
.bloc-infos,
.footer-section .zone-title
{ font-weight: 300; }


.item-image-bottom .nom-image
{ font-weight: 100; }


/* text-align */
.section-partager .row-text-icon,
.section-devenir-membre .row-text
{ text-align: left; }

/*********************************************

divers

*/
.section-title {
    padding-bottom: 1rem;
}
.footer-section .flex-item .element-li .icon-row {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: text-bottom;
}
/*********************************************
tags
*/
.mots {
    text-overflow: ellipsis;
}
@media only screen and (max-width: 768px) {
    .content-tags {
        padding: 1rem;
    }


    .mots-content .mots-link {
        font-size: 1.15rem;
    }
}
@media only screen and (max-width: 630px) {


    .mots-content .mots-link {
        font-size: 1rem;
    }
}
.alphabet-bloc-content {
    display: inline-block;
    width: 100%;
    margin-right: -0.6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.lettre {
    padding: 0.3rem;
    float: left;
    width: 3rem;
    /* background-color: rgba(0, 0, 0, 0.03); */
}
.lettre-span {
    width: 2.75rem !important;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0;
}
/*end*/